@font-face{
	font-family:'FSM-R';
	src:url('fonts/FSM-R.otf') format('opentype');
}


*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family:'FSM-R';
}


*:after{
	display: block;
	content:'';
	clear:both;
}



.clearfix:after{
	display: block;
	content:'';
	clear:both;
}

.bg_wrap{
	background:url('img/bg.jpg') no-repeat center center/cover;
	/*height:90vh;*/
}

.overlay{
	height:100%;
	width:100%;
	background-color:rgba(78,78,92,0.8);
	padding-bottom:5%;
}

nav{
	/*padding:40px 15% 60px 15%;*/
	border-bottom:1px solid rgba(255,255,255,0.5);
	padding:30px 0px 70px 0px;
	width:70%;
	margin:0 auto;
}


.logo{
	float:left;
	color:#fff;
	font-weight: bold;
	font-size:1.2rem;
}

.nav_list{
	float:right;
}

.nav_list li{
	list-style-type: none;
	display: inline-block;
	color:#fff;
	font-weight: bold;
	font-size:1.1rem;
}

.nav_list a{
	color:#fff;
	text-decoration: none;
}

.nav_list li:not(:last-child){
	margin-right:25px;
}



.content{
	width:50%;
	margin:0 auto;
	text-align: center;
	margin-top:6rem;
}

.content h1{
	color:#fff;
	font-size:3rem;
}

.opts{
	width:350px;
	margin:0 auto;
	margin-top:2rem;
}

.opts i{
	font-size:2.5rem;
	color:#6cc092;
}

.travel{
	float:left;
	padding-right:5rem;
	padding-top:10px; 
	padding-bottom:10px; 
	border-right:1px solid rgba(255,255,255,0.6);
}

.gallery{
	float:right;
	padding-top:10px; 
	padding-bottom:10px; 
}

.opt_name{
	color:#fff;
	font-weight: bold;
	font-size:1.4rem;
	margin-top:1rem;
}

.choose{
	font-size:0.9rem;
	color:#eee;
	margin-top:5px;
}

.gs_btn{
	margin-top:3rem;
	font-size:0.8rem;
	font-weight: bold;
	border:3px solid #6cc092;
	color:#6cc092;
	background:transparent;
	padding:10px 40px;
	border-radius:20px;
}

.gs_btn:hover , .lm_btn:hover{
	cursor: pointer;
	background: #6cc092;
	color:#fff;
	transition: 0.3s ease;
}

section{
	width:60%;
	margin:0 auto;
	text-align: center;
	margin-top:5rem;

}

section h3{
	margin-top:15px;
	font-size:1.5rem;
}

.left_div{
	float:left;
	width:40%;
}

.right_div{
	float:right;
	width:40%;
}


.round_pic img{
	width:120px;
	height:120px;
	border-radius:60%;
}

.txt{
	margin-top:2rem;
}

.lm_btn{
	font-size:0.8rem;
	border:2px solid #6cc092;
	background: transparent;
	color:#6cc092;
	border-radius:20px;
	padding:8px 40px;
	margin-top:2rem;
	margin-bottom:3rem;
}

.menu_btn{
	background:transparent;
	border:none;
	float:right;
	display:none;
}

.menu_btn div{
	height:2px;
	width:25px;
	background:#fff;
	margin-top:5px;
}

/*Side menu */

.side_menu{
	position:fixed;
	right:0;
	width:45%;
	background: #6dc191;
	top:50px;
	height:100vh;
	padding:0px 20px;
	display: none;
}

.side_menu ul li{
	list-style-type: none;
	color:#fff;
	padding:15px 0px;
	font-size:1.2rem;
}

.side_menu ul li:not(:last-child){
	border-bottom:1px solid rgba(255,255,255,0.5);
}

/*Side menu */


.menu_btn:hover + .side_menu{
	cursor: pointer;
	display:block;
}

.side_menu:hover{
	display: block;
}

/*Tablet */

@media(max-width:768px){

	nav{
		width:85%;
	}

	.nav_list{
		display: none;
	}

	.menu_btn{
		display: block;
	}



	.left_div,.right_div{
		width:100%;
	}

}

/*Mobile*/


@media(max-width:500px){
	.content{
		width:100%;
		margin-top:2.5rem;
	}

	.opts{
		margin-top:0px;
	}

	.travel,.gallery{
		width:100%;
		padding:0;
		margin:0;
		border:none;
		margin-top:50px;
	}

}
