body{
	margin:0;
	padding:0;
}

*{
	box-sizing:border-box;
}

.clearfix:after{
	content:'';
	display: block;
	clear:both;
}

.top_list{
	background:#f6f7f9;
	padding:3px 6%;
}

.top_left_list{
	list-style-type: none;
	display: inline-block;
}

.top_left_list li{
	display: inline-block;
}

.top_left_list li:not(:last-child){
	border-right:1px solid #a6a6a6	;
	padding:0px 8px;
}

.top_left_list li a{
	text-decoration: none;
	color:#878586;
	font-size:0.8em;
}

.social_links_list{
	float:right;
}

.social_links_list li{
	display: inline-block;
}

.social_links_list li a{
	text-decoration: none;
	color:#79b530;
	font-size:1.3em;
	margin-right:16px;
}

.fb:before {
   font-family: FontAwesome;
   content: "\f09a";
}

.twitter:before {
   font-family: FontAwesome;
   content: "\f099";
}

.insta:before {
   font-family: FontAwesome;
   content: "\f16d";
}

.pintrest:before {
   font-family: FontAwesome;
   content: "\f0d2";
}

.gplus:before {
   font-family: FontAwesome;
   content: "\f2b3";
}

.middle_nav{
	width:100%;
	padding:0px 9%;
}

.logo_wrap{
	/*display: inline-block;*/
	float:left;
	padding:10px 30px;
}


.logo{
	color:#79b530;
	font-family:'FSM-B';
	font-size:1.3em;
}

.tagline{
	font-size:0.7em;
	color:#5f6769;
}

.contact{
	display: inline-block;
	float:right;
	width:70%;
	padding:10px 0px;
	margin-top:-5px;
}


.contact li {
	display: inline-block;
	list-style-type: none;
	margin-left:60px;
}

.middle_list{
	background:#fff;
	padding:6px 7%;
}

.contact_list{
	float:right;
}

.contact_list li{
	display: inline-block;
	margin-left:40px;
}

.contact_list li i{
	color:#79b530;
	font-size:1.3em;
	vertical-align:top;
	margin-top:1px;
	margin-right:3px;	
}

.contact_list li:not(:first-child){
	vertical-align:top;
}

.apply_btn{
	border:2px solid #79b530;
	background: #fff;
	font-size:0.8em;
	font-weight: bold;
	color:#79b530;
	padding:10px 20px;
}

.apply_btn:hover{
	background:#79b530;
	color:#fff;
	transition: 0.2s ease;
	cursor:pointer;
}

.bottom_list{
	background:#79b530;
	padding:0px 6%;
}

.bottom_list li{
	list-style-type:none;
	display: inline-block;
	text-decoration:none;
	color:#fff;
	font-family: 'FSM-B';
	padding:17px 10px;
	font-size:0.9em;
}

.bottom_list li:hover{
	background:#34690d;
}

.bottom_list li i{
	color:#fff;
}

.main_bg{
	width:100%;
	height:90vh;
	margin-top:-16px;
	background: url('img/bg.jpg') fixed no-repeat center/cover;
	position: relative;
}

.bg_overlay{
	height: 100%;
	width:100%;
	background:rgba(0,0,0,0.5);
}

.text_wrap{
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	text-align: center;
}

.large_txt{
	font-size:3em;
	font-family:'FSM-B';
	color:#fff;
}

.small_txt{
	color:#fff;
	margin-top:40px;
}

.btns_wrap{
	margin-top:40px;
}

.btns_wrap button{
	font-weight: bold;
	padding:12px 20px;
}

.btns_wrap button:hover{
	opacity:0.8;
	cursor:pointer;
}

.btns_wrap button:first-child{
	color:#fff;
	background:#79b530;
	border:2px solid #79b530;
}

.btns_wrap button:last-child{
	color:#fff;
	background:transparent;
	border:none;
	border:2px solid #fff;
	margin-left:10px;
}

.container{
	background: red;
	width:80%;
	margin:0 auto;
	margin-top:-60px;
	position: relative;
	z-index:2;
}

.container h3{
	margin:0;
	margin-bottom:20px;

}

.box{
	padding:30px;
	text-align:center;
	float:left;
	width:25%;
	color:#fff;
}

.box i{
	font-size:2em;
	color:#fff;
	margin-bottom:20px;
}

.blue{
	background:#4785fb;
}

.pink{
	background:#ed6c6d;
}

.green{
	background:#b6d56a;
}

.orange{
	background:#ef7f44;
}

@media screen and (max-width:720px){
	.container{
		width:60%;
		margin:0 auto;
		margin-top:-20px;
	}

	.container .box{
		width:100%;
		margin:0 auto;
	}

	.btns_wrap button:last-child{
		margin-left:0px;
		margin-top:10px;
	}

	.middle_list{
		padding-left:0px;
		padding-right:0px;
	}

	.contact_list{
		float:left;
	}

	.contact_list li{
		margin-left:30px; 
	}


}


@media screen and (max-width:500px){
	.contact_list li:not(:first-child){
		margin-top:20px;
	}

	.contact_list li{
		margin-left:0px;
	}


	.container{
		width:90%;
	}
}

