body{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.container{
  width:50%;
  box-shadow:-1px 2px 3px 2px #eee;
  margin:auto;
  margin-top:30px;
  padding:20px 0px;  
  background-color: rgba(255,255,255,0.8);
  /* text-align:center; */
}

input{
  width:70%;
  height:30px;
  font-size:1rem;
  border-radius:5px;
  border:1px solid #000;
}

.name{
  border:none;
}

.wrap{
  width:80%;
  margin:auto;
}

form{
  display:flex;
  text-align:center;
}

.addButton{
  height:35px;
  border:1px solid #000;
  margin-left:10px;
  width:100px;
  border-radius:5px;
}

.fruitList{
  margin-top:20px;
  font-size:1.2rem;
}

.name{
  font-size:1.5rem;
}

.qty{
  font-size:1.3rem;

}

.fruitListItem{
  width:90%;  
  display:flex;
  justify-content: space-between;
  text-align: center;
  padding:10px 0px;
}

.delBtn{
  border:2px solid rgb(199, 15, 15);
  color:rgb(199, 15, 15);
  background-color: #fff;
}