*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

nav{
	background: #333;
	padding:20px 7%;
	padding-bottom:50px;
}

nav h1{
	float:left;
	/*padding:20px;*/
}

nav a{
	color:#fff;
	text-decoration: none;
}

nav ul{
	list-style: none;
	float:right;
	/*padding:20px 40px;*/
}

nav ul li{
	float:left;
}

nav ul li a{
	display: block;
	padding:0px 20px;
	font-size:1.3em;
}

.showcase{
	background:url('img/showcase.jpg') no-repeat fixed;
	background-size:cover;
	background-position: center;
	height:89.5vh;

}


